<%- include('../partials/header') -%>

<%- include('../partials/nav') -%>

<div class="container mt-5 w-50 h-100">
  <div class="card card-body">
    <%- body %>
  </div>
</div>
<%- include('../partials/footer') -%>